@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-adwaita-sans);
}

@layer utilities {
  .navbar-shadow {
    box-shadow: 0 -3px 6px rgba(0,0,0,0.25);
  }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(240, 5.56%, 14.12%);
        --foreground: hsl(0, 0%, 100%);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-adwaita-sans), Helvetica, sans-serif;
}